#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.nav {
  display: flex;
  margin-bottom: 50px;
}

.nav > *{
  margin-right: 32px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper nav {
  margin-left: 12px;
}

.wrapper nav svg {
  margin-right: 6px;
}